/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2014, 4:27:17 PM
    Author     : shshenoy
*/

*
{
    margin:0px;
    padding:0px;
}

#bg2 {
    position: fixed; 
    top: 0; 
    left: 0; 

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

#bg {
    position: fixed; 
    top: 0; 
    left: 0; 

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

body{
    background:#222526;
    position:relative;
    padding:20px;
    font-family:verdana;
} 

#loginform
{
    width:550px;
    height:auto;
    position:relative;
    margin:0 auto;
}

#container {
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.5) 50%, rgba(209,209,209,0.49) 51%, rgba(254,254,254,0.49) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,0.5)), color-stop(51%, rgba(209,209,209,0.49)), color-stop(100%, rgba(254,254,254,0.49)));
    background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.5) 50%, rgba(209,209,209,0.49) 51%, rgba(254,254,254,0.49) 100%);
    background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.5) 50%, rgba(209,209,209,0.49) 51%, rgba(254,254,254,0.49) 100%);
    background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.5) 50%, rgba(209,209,209,0.49) 51%, rgba(254,254,254,0.49) 100%);
    background: linear-gradient(right, rgba(226,226,226,1) 0%, rgba(219,219,219,0.5) 50%, rgba(209,209,209,0.49) 51%, rgba(254,254,254,0.49) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}

#pageHeader2 {
    height:120px;
    padding-right: 25px;
}
#pageHeader2 h1 , #pageHeader2 span	{
    height: 79px;
    font-size: 250%;
    color: whitesmoke;//#383838;
}
#pageHeader2 h2 {
    font-size: 100%;
    color: whitesmoke;
}        

input
{
    display:block;
    margin:0px auto 15px;
    border-radius:5px;
    background: #333333;
    width:85%;
    padding:12px 20px 12px 10px;
    border:none;
    color:#929999;                       
    box-shadow:inset 0px 1px 5px #272727;
    font-size:0.8em;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease; 
}

input:focus
{
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;  
    box-shadow: 0px 0px 5px 1px #161718;
}

button
{
    background: #ff5f32;
    border-radius:50%;
    border:10px solid #222526;
    font-size:0.9em;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
    width:85px;
    height:85px;
    position:absolute;
    right: -32px;
    top: 134px;
    text-align:center;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

button:hover
{
    background:#222526;
    border-color:#ff5f32;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

button i
{
    font-size:20px;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

button:hover i
{
    color:#ff5f32;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

*:focus{outline:none;}
::-webkit-input-placeholder {
    color:#929999;
}

:-moz-placeholder { /* Firefox 18- */
    color:#929999; 
}

::-moz-placeholder {  /* Firefox 19+ */
    color:#929999;  
}

:-ms-input-placeholder {  
    color:#929999; 
}

h1
{
    text-align:center;
    color:#fff;
    font-size:13px;
    padding:12px 0px;
}

#status
{
    position: absolute;
    top: 160px;
    right: 70px;
    color:whitesmoke;
    font-size: 1em;
    text-align:center;
    padding-left:5px;
}

#bbbook
{
    position: absolute;
    top: 240px;
    left: 340px;
    text-align:center;
    float:left;
    background: #0066ff;
    padding:35px 10px 20px 10px;
    width:170px;
    height:135px; 
    border-radius:3px;
    cursor:pointer;
    box-shadow: 0px 0px 10px 2px #161718; 
    margin-right:10px;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

#bbbook:hover
{
    box-shadow: 0px 0px 0px 0px #161718;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

.fa-bbbook
{
    //top: 500px;
    color:#fff;
    font-size:3.20em;
    display:block;
}

a
{
    //top: 1em;
    color:#88887a;
    text-decoration:none;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

a:hover
{
    color:#fff;
    margin-left: 15px;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

#mainlogin
{
    float:left;
    width:300px;
    height:170px;
    top: 120px;
    padding:10px 15px;
    position:relative;
    background:#555555;
    border-radius:3px;
}

#note
{
    position: absolute;
    top: 150px;
    /*padding-top: 50px;*/
    right: 100px;
    color:#88887a;
    font-size: 0.8em;
    text-align:center;
    padding-left: 5px;
}

/*#note:hover
{
    color:#fff;
    margin-left: 15px;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}*/

#mainlogin2
{
    float:left;
    width:320px;
    height:500px;
    padding:10px 15px;
    position:relative;
    background: #CCCCCC;//#993333;//#555555;
    border-radius:3px;
}

#connect
{
    font-weight: bold;
    color: #fff;
    font-size: 13px;
    text-align: left;
    font-family: verdana;
    padding-top:10px;
}

#or
{
    position:absolute;
    left: 315px;
    top: 310px;
    background:#222222;
    text-shadow:0 2px 0px #121212;
    color:#999999;
    width:40px;
    height:40px;
    text-align:center;
    border-radius:50%;
    font-weight:bold;
    line-height:38px;
    font-size: 18px;
}
