.image {
    position: relative;
    margin: 20px auto 50px;
    padding-bottom: 40px; /* Needed to make room for the shadow */
    height: 300px;
    text-align: center;
}
/* Floating Shadow Pseudoelement */
.image a:after { 
    content:'';
    display: block;
    position: absolute;
    left: 12%;
    bottom: 0px;
    width: 80%;
    max-width: 210px;
    height: 10px;
    background: transparent;
    border-radius: 100px/50px;
    box-shadow: 0 50px 40px rgba(0,0,0,0.5);
}

.image a {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 95%;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.image a:hover,
.image a:focus {
    width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}


/* Boring container/type styles */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.wrap {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 300px;
}
h1, p {
    margin: 25px 0;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.7;
    text-align: center;
}
h1 {
    font-size: 20px;
    font-weight: bold;
}
p a {
    color: #2E69BA;
    font-weight: bold;
}