/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 25, 2015, 3:45:22 PM
    Author     : shshenoy
*/

body {
    margin: 0px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size:  14px;
}
            #pageTop {
                background:url(bgHeader.png) repeat-x;
                height: 90px;
            }
/*            #pageTop > #pageTopWrap {
                width: 1000px;
                margin: 0px auto;
                border: #0FF 1px dashed;
                height: 90px;
            }
            #pageTop > #pageTopWrap > #pageTopLogo {
                float: left;
                height: 90px;
                width: 108px;
            }
            #pageTop > #pageTopWrap > #pageTopRest {
                float: left;
                height: 90px;
                width: 892px;
            }
            #pageTop > #pageTopWrap > #pageTopRest > menu1 {
                height: 44px;
            }
            #pageTop > #pageTopWrap > #pageTopRest > menu1 > div {
                margin-top: 8px;
                padding: 4px;
            }
            #pageTop > #pageTopWrap > #pageTopRest > menu1 > div > a {
                text-align: right;
                color: white;
                text-decoration: none;
            }
            #pageTop > #pageTopWrap > #pageTopRest > menu1 > div > a:hover {
                color: #COE73D;
            }
             #pageTop > #pageTopWrap > #pageTopRest > menu2 {
                height: 44px;
            }
            #pageTop > #pageTopWrap > #pageTopRest > menu2 > div {
                border: #F00 1px solid;
                margin-top: 2px;
                padding: 4px;
            }
            #pageTop > #pageTopWrap > #pageTopRest > menu2 > div > a {
                display: block;
                float: left;
                color: white;
                text-decoration: none;
                margin: 0px 16px;
            }*/
/*            #pageTop > #pageTopWrap > #pageTopRest > menu2 > div > a:hover {
                color: #COE73D;
            }*/
            #pageMiddle{
                height: 900px;
            }
            #pageBottom{
                background: #666;
                padding: 24px;
                font-size: 12px;
                color: #CCC;
                text-align: center;
            }